--EJECUTAR DE MANERA INDIVIDUAL 
CREATE DATABASE ATLAN2

--EJECUTAR DE MANERA INDIVIDUAL
USE [ATLAN2]

-- EJECUTAR DESDE AQUI HASTA EL FINAL DE CORRIDO
GO
/****** Object:  Table [dbo].[TBL_AGENCIAS]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AGENCIAS](
	[CODAGENCIA] [int] IDENTITY(1,1) NOT NULL,
	[AGENCIA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_AGENCIAS] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[CODAGENCIA] [int] NOT NULL,
	[CODCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRECLIENTE] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC,
	[CODCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CNTTARJETA]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CNTTARJETA](
	[CODAGENCIA] [int] NOT NULL,
	[NUMCUENTA] [int] NOT NULL,
	[NUMTARJETA] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CNTTARJETA] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC,
	[NUMCUENTA] ASC,
	[NUMTARJETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CUENTAS]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CUENTAS](
	[CODAGENCIA] [int] NOT NULL,
	[CODCLIENTE] [int] NOT NULL,
	[NUMCUENTA] [int] NOT NULL,
	[CODTIPOCUENTA] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CUENTAS_1] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC,
	[NUMCUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CUENTASDET]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CUENTASDET](
	[CODAGENCIA] [int] NOT NULL,
	[NUMCUENTA] [int] NOT NULL,
	[CODDETALLECUENTA] [int] IDENTITY(1,1) NOT NULL,
	[SALDOGLOBALDISPO] [decimal](18, 2) NULL,
	[INTERESCONF] [decimal](18, 2) NULL,
	[INTERESCONFCUOMIN] [decimal](18, 2) NULL,
	[INTERESCONFBONIF] [decimal](18, 2) NULL,
	[SALDOGLOBAL] [decimal](18, 2) NULL,
	[LIMITEMAXACTUAL] [decimal](18, 2) NULL,
	[PAGOMINIMO] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBL_CUENTASDET] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC,
	[NUMCUENTA] ASC,
	[CODDETALLECUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HISTRANSAC]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HISTRANSAC](
	[CODAGENCIA] [int] NOT NULL,
	[TRANSACNUM] [int] IDENTITY(1,1) NOT NULL,
	[NUMCUENTA] [int] NOT NULL,
	[MONTO] [decimal](18, 2) NULL,
	[DESCRIPCION] [varchar](550) NULL,
	[CREDDEB] [int] NULL,
	[FECHATRANSAC] [datetime] NULL,
 CONSTRAINT [PK_TBL_HISTRANSAC] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC,
	[TRANSACNUM] ASC,
	[NUMCUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TARJETAS]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TARJETAS](
	[CODAGENCIA] [int] NOT NULL,
	[NUMTARJETA] [int] NOT NULL,
 CONSTRAINT [PK_TBL_TARJETAS] PRIMARY KEY CLUSTERED 
(
	[CODAGENCIA] ASC,
	[NUMTARJETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_AGENCIA] FOREIGN KEY([CODAGENCIA])
REFERENCES [dbo].[TBL_AGENCIAS] ([CODAGENCIA])
GO
ALTER TABLE [dbo].[TBL_CLIENTE] CHECK CONSTRAINT [FK_CLIENTES_AGENCIA]
GO
ALTER TABLE [dbo].[TBL_CNTTARJETA]  WITH CHECK ADD  CONSTRAINT [FK_CNTTARJETA_AGENCIAS] FOREIGN KEY([CODAGENCIA])
REFERENCES [dbo].[TBL_AGENCIAS] ([CODAGENCIA])
GO
ALTER TABLE [dbo].[TBL_CNTTARJETA] CHECK CONSTRAINT [FK_CNTTARJETA_AGENCIAS]
GO
ALTER TABLE [dbo].[TBL_CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_AGENCIAS] FOREIGN KEY([CODAGENCIA])
REFERENCES [dbo].[TBL_AGENCIAS] ([CODAGENCIA])
GO
ALTER TABLE [dbo].[TBL_CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_AGENCIAS]
GO
ALTER TABLE [dbo].[TBL_CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CUENTAS_TBL_CLIENTE2] FOREIGN KEY([CODAGENCIA], [CODCLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([CODAGENCIA], [CODCLIENTE])
GO
ALTER TABLE [dbo].[TBL_CUENTAS] CHECK CONSTRAINT [FK_TBL_CUENTAS_TBL_CLIENTE2]
GO
ALTER TABLE [dbo].[TBL_CUENTASDET]  WITH CHECK ADD  CONSTRAINT [FK_CODAGENCIACUENTADET] FOREIGN KEY([CODAGENCIA])
REFERENCES [dbo].[TBL_AGENCIAS] ([CODAGENCIA])
GO
ALTER TABLE [dbo].[TBL_CUENTASDET] CHECK CONSTRAINT [FK_CODAGENCIACUENTADET]
GO
ALTER TABLE [dbo].[TBL_HISTRANSAC]  WITH CHECK ADD  CONSTRAINT [FK_CODAGENCIA] FOREIGN KEY([CODAGENCIA])
REFERENCES [dbo].[TBL_AGENCIAS] ([CODAGENCIA])
GO
ALTER TABLE [dbo].[TBL_HISTRANSAC] CHECK CONSTRAINT [FK_CODAGENCIA]
GO
ALTER TABLE [dbo].[TBL_HISTRANSAC]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HISTRANSAC_TBL_CUENTAS] FOREIGN KEY([CODAGENCIA], [NUMCUENTA])
REFERENCES [dbo].[TBL_CUENTAS] ([CODAGENCIA], [NUMCUENTA])
GO
ALTER TABLE [dbo].[TBL_HISTRANSAC] CHECK CONSTRAINT [FK_TBL_HISTRANSAC_TBL_CUENTAS]
GO
ALTER TABLE [dbo].[TBL_TARJETAS]  WITH CHECK ADD  CONSTRAINT [FK_TARJETAS_AGENCIAS] FOREIGN KEY([CODAGENCIA])
REFERENCES [dbo].[TBL_AGENCIAS] ([CODAGENCIA])
GO
ALTER TABLE [dbo].[TBL_TARJETAS] CHECK CONSTRAINT [FK_TARJETAS_AGENCIAS]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerClientePorCodigo]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerClientePorCodigo]
    @pCODCLIENTE INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @pCODCLIENTE = 0
    BEGIN
        SELECT *
        FROM TBL_CLIENTE;
    END
    ELSE
    BEGIN
        SELECT *
        FROM TBL_CLIENTE
        WHERE CODCLIENTE = @pCODCLIENTE;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCuentasTarjeta]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCuentasTarjeta]
    @pNUMCUENTA INT
AS
BEGIN
   
        SELECT *
        FROM TBL_CUENTASDET AS CT
	    WHERE CT.NUMCUENTA = @pNUMCUENTA;
		
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerHistTransacciones]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerHistTransacciones]
    @pNUMCUENTA INT
AS
BEGIN
    SET NOCOUNT ON;

  
	SELECT * FROM TBL_HISTRANSAC AS HT
	WHERE HT.NUMCUENTA = @pNUMCUENTA;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTARJETASPorCodigo]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTARJETASPorCodigo]
    @pCODCLIENTE INT
AS
BEGIN
   
        SELECT CT.NUMCUENTA, CT.NUMTARJETA, CT.CODAGENCIA
        FROM TBL_CNTTARJETA AS CT
		INNER JOIN TBL_CUENTAS C ON
		CT.CODAGENCIA = C.CODAGENCIA
        WHERE CT.NUMCUENTA = C.NUMCUENTA
		AND C.CODCLIENTE = @pCODCLIENTE;
END;
GO
/****** Object:  StoredProcedure [dbo].[RealizarTransaccion]    Script Date: 09/05/2024 0:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RealizarTransaccion]
    @pNUMTARJETA INT,
	@pMONTO DECIMAL,
	@pDESCRIPCION VARCHAR(255),
	@pFECHA DATETIME,
	@pTIPO INT,
	@oCODIGO INT OUTPUT, -- Variable de retorno para el resultado de la transacción
	@oMENSAJE VARCHAR(255) OUTPUT -- Variable de retorno para mensajes adicionales
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @NUMEROCT INT;
	DECLARE @DISPONIBLE DECIMAL;
	DECLARE @TRANSACNUM INT; -- Variable para almacenar el valor de TRANSACNUM

	
	SELECT @NUMEROCT = CNT.NUMCUENTA 
	FROM TBL_CNTTARJETA AS CNT 
	WHERE CNT.NUMTARJETA = @pNUMTARJETA; 

	IF(@pTIPO = 1)
	BEGIN 
		SELECT @DISPONIBLE = CN.SALDOGLOBALDISPO FROM TBL_CUENTASDET AS CN WHERE CN.NUMCUENTA = @NUMEROCT;

		IF(@DISPONIBLE >= @pMONTO)
		BEGIN
			INSERT INTO TBL_HISTRANSAC
			(CODAGENCIA,NUMCUENTA,MONTO,DESCRIPCION,CREDDEB,FECHATRANSAC)
			VALUES (1,@NUMEROCT, @pMONTO,@pDESCRIPCION,@pTIPO,@pFECHA);
			
			-- Obtener el último valor de TRANSACNUM insertado
			SET @TRANSACNUM = SCOPE_IDENTITY(); -- Esto asume que TRANSACNUM es una columna de identidad
			
			-- Concatenar TRANSACNUM al mensaje de éxito
			UPDATE TBL_CUENTASDET
			SET SALDOGLOBALDISPO = SALDOGLOBALDISPO- @pMONTO,
			SALDOGLOBAL = SALDOGLOBAL + @pMONTO
			WHERE NUMCUENTA = @NUMEROCT;
			
			SET @oCODIGO = 0; -- Asignar un valor de éxito al resultado
			SET @oMENSAJE = 'TRANSACCION EXITOSA, Nº TRANSACCION: ' + CAST(@TRANSACNUM AS VARCHAR(10)); -- Concatenar TRANSACNUM al mensaje
		END
		ELSE
		BEGIN
			SET @oCODIGO = -1; -- Asignar un valor de fallo al resultado
			SET @oMENSAJE = 'SALDO GLOBAL DISPONIBLE INSUFICIENTE'; -- Asignar el mensaje de error
		END;
	END;
	ELSE IF (@pTIPO = 0)
	BEGIN
			INSERT INTO TBL_HISTRANSAC
			(CODAGENCIA,NUMCUENTA,MONTO,DESCRIPCION,CREDDEB,FECHATRANSAC)
			VALUES (1,@NUMEROCT, @pMONTO,@pDESCRIPCION,@pTIPO,@pFECHA);
			
			-- Obtener el último valor de TRANSACNUM insertado
			SET @TRANSACNUM = SCOPE_IDENTITY(); -- Esto asume que TRANSACNUM es una columna de identidad
			
			DECLARE @interes DECIMAL(10, 2)
			SELECT  @interes= DT.INTERESCONFBONIF FROM TBL_CUENTASDET DT 
			WHERE NUMCUENTA = @NUMEROCT;
			-- Calcular el interés adicional
			DECLARE @interesAdicional DECIMAL(10, 2)
			SET @interesAdicional = @pMONTO * @interes

			-- Ajustar el monto total a pagar
			SET @pMONTO = @pMONTO + @interesAdicional
			

			-- Concatenar TRANSACNUM al mensaje de éxito
			UPDATE TBL_CUENTASDET
			SET SALDOGLOBALDISPO = SALDOGLOBALDISPO + @pMONTO,
			SALDOGLOBAL = SALDOGLOBAL - @pMONTO
			WHERE NUMCUENTA = @NUMEROCT;
			
			SET @oCODIGO = 0; -- Asignar un valor de éxito al resultado
			SET @oMENSAJE = 'PAGO EXITOSO, Nº TRANSACCION: ' + CAST(@TRANSACNUM AS VARCHAR(10)); -- Concatenar TRANSACNUM al mensaje
		END
		ELSE
	BEGIN
		SET @oCODIGO = -1; -- Asignar un valor de fallo al resultado
		SET @oMENSAJE = 'TIPO DE TRANSACCIÓN INVÁLIDO'; -- Asignar el mensaje de error
	END;

END;
GO
